akshare
colorama
fire
futu-api
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
mkdocs
mkdocs-get-deps
mkdocs-material
mkdocs-material-extensions
streamlit
streamlit_authenticator
tabulate
tqdm
pyjwt
pytest
wcwidth